.happy {
  color: #9e6e57;
  font-family: "Lavishly Yours", cursive;
  text-shadow: 5px 5px 6px#bb9393d4;
  margin-top: 10%;
  font-size: 2.2em;
}
.text{
  color:#b08d6d45;
  font-family: "Ballet", cursive;
  font-size: 2em;
  margin:10% 0 -11% 33%;
}
.hint {
  display: block;
  font-family: "ZCOOL XiaoWei", sans-serif;
  position: relative;
  left: 3.5em;
  color: #8b7567;
}

/*div*/
.container {
  display: grid;
  place-items: center;
  height: auto;
}
.containerCard{
  padding:3% 0 33% 0;
}


/*image*/
.gift {
  display: block;
  height: 150px;
  width: 150px;
  object-fit: cover;
  position: relative;
  top: 20%;
}
.img1{
  display:block;
  width:163px;
  height:187px;
  margin:auto 0 4% 13%;
  padding-top: 15%;
  border-radius: 24px;
}
.img2{  display:block;
  height:234px;
  width:148px;
  margin:auto 14% 4% auto;
  border-radius: 24px;
}
.img3{
  display:block;
  height:309px;
  width:168px;
  margin:auto 0 3% 11%;
  border-radius: 24px;
}
.img4{
  display:block;
  height:309px;
  width:168px;
  margin:auto 13% 4% auto;
  border-radius: 24px;
}

/*body*/
body{
  background-image:url("background_douhua2.jpg");
  background-size:cover;
  background-position:center;
}
.frame {
  background:
    url("background_top.png") top center no-repeat,
    url("background_bottom.png") bottom center no-repeat,
    url("background_middle.png") center repeat-y;
  background-size: 100% auto, 100% auto, 100% auto;
  box-shadow: 0 8px 25px #b3a57e;
  width: 85%;
  max-width: 455px;
  min-height: 550px;
  margin: 4% auto;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
