.happy {
  color: #9e6e57;
  font-family: "Lavishly Yours", cursive;
  text-shadow: 5px 5px 6px#bb9393d4;
  margin-top: 10%;
  font-size: 2.2em;
}
.text{
  color:#b08d6d45;
  text-decoration: underline ;
  font-family: "Ballet", cursive;
  font-size: 2em;
  margin:10% 0 -3% 33%;
  padding-top: 18%;
}
.hint {
  display: block;
  font-family: "ZCOOL XiaoWei", sans-serif;
  position: relative;
  left: 3.5em;
  color: #8b7567;
}
.hint_img2 {
  font-size: 1.3em;
  padding-inline: 1.2em;
  text-align: center;
  display: block;
  font-family: "ZCOOL XiaoWei", sans-serif;
  position: relative;
  color: #b08d6d45;
}
.hint_img2_{
  font-size: 0.8em;
  margin:48% 20% 0 0;
  text-align: center;
  display: block;
  font-family: "ZCOOL XiaoWei", sans-serif;
  position: relative;
  color: #d2baad;
}


/*div*/
.container {
  display: grid;
  place-items: center;
  height: auto;
}
.containerCard{
  display:grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}
.card{
  margin-top: 0%;
 }


/*image*/
.gift {
  display: block;
  height: 150px;
  width: 150px;
  object-fit: cover;
  position: relative;
  top: 20%;
}
.img1{
  display:block;
  width:163px;
  height:187px;
  margin:auto 0 4% 0;
  padding: 15% 0 0 20%;
  border-bottom-right-radius: 24px;
}
.img2{  
  display:block;
  height:234px;
  width:148px;
  margin:auto 0 4% auto;
  padding: 15% 20% 0 0;
  border-top-left-radius: 24px;
}
.img3{
  display:block;
  height:309px;
  width:168px;
  margin:120% 0 3% 0;
  padding-left:18%;
  border-bottom-right-radius: 24px;
}
.img4{
  display:block;
  height:309px;
  width:168px;
  margin:140% 0 auto auto;
  padding-right:18%;
  border-top-left-radius: 24px;
}
.envelope{
  display:block;
  height:137px;
  width:205px;
  margin:10% 0 70% 33%;
  padding-right:18%;
}

/*body*/
body{
  background-image:url("background_douhua2.jpg");
  background-size:cover;
  background-position:center;
}
.frame {
  background:
    url("background_top.png") top center no-repeat,
    url("background_bottom.png") bottom center no-repeat,
    url("background_middle.png") center repeat-y;
  background-size: 100% auto, 100% auto, 100% auto;
  box-shadow: 0 8px 25px #b3a57e;
  width: 85%;
  max-width: 455px;
  min-height: 550px;
  margin: 4% auto;
}
.frameLetter{
  background:url("letter.png");
  background-size:contain;
  width:85%;
  margin: 4% auto;
  max-width: 455px;
  min-height: 643px;
  box-shadow: 0 8px 25px #b3a57e;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .containerCard{
    grid-template-columns: 1fr;
  }
}
