.happy {
  color: white;
  font-family: "Lavishly Yours", cursive;
  padding: 0;
  margin-top: 1em;
  font-size: 2.5em;
  font-weight: 600;
}
.hint {
  display: block;
  font-family: "ZCOOL XiaoWei", sans-serif;
  position: relative;
  left: 3.5em;
  color: white;
}

/*div*/
.container {
  display: grid;
  place-items: center;
  height: auto;
}

/*image*/
.gift {
  display: block;
  height: 200px;
  width: 200px;
  object-fit: cover;
  position: relative;
  top: 10%;
}

/*body*/
.frame {
  background-image:url("background_card1.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  border: black;
  box-shadow: 0 8px 25px #b3a57e;
  width: 85%;
  max-width: 455px;
  min-height: 550px;
  margin: 4% auto;
}
body{
  background-image:url("background_douhua2.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}
